html {
  font-size: 13px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ecf2f8;
  margin: 0;
  padding: 0 2rem;
  line-height: 1.5;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  background-color: white;
  max-width: 24rem;
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 0 4.5px 3.6px rgba(0, 0, 0, 0.014), 0 12.5px 10px rgba(0, 0, 0, 0.02), 0 30.1px 24.1px rgba(0, 0, 0, 0.026), 0 100px 80px rgba(0, 0, 0, 0.04);
          box-shadow: 0 4.5px 3.6px rgba(0, 0, 0, 0.014), 0 12.5px 10px rgba(0, 0, 0, 0.02), 0 30.1px 24.1px rgba(0, 0, 0, 0.026), 0 100px 80px rgba(0, 0, 0, 0.04);
}

.image-segment {
  background-color: #ff00ff28;
  width: 100%;
  max-height: 205px;
  overflow: hidden;
}

.image-segment img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.content-segment {
  padding: 2rem 2rem 1.5rem;
}

.content-segment .content__header {
  font-size: 1.2rem;
  font-weight: 700;
  color: #48556a;
  margin-bottom: 1rem;
}

.content-segment .content__description {
  font-size: 1rem;
  font-weight: 500;
  color: #6d7f97;
}

.content-segment .content__author {
  margin-top: 2rem;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-segment .content__author .author__avatar {
  border-radius: 100%;
  height: 40px;
}

.content-segment .content__author .author__meta {
  margin-left: 1rem;
}

.content-segment .content__author .author__meta .author__name {
  font-weight: 700;
  color: #48556a;
}

.content-segment .content__author .author__meta .author_date {
  color: #9eafc2;
}

.content-segment .content__author .share-button {
  border: none;
  background-color: #ecf2f8;
  padding: 0.62rem 0.75rem;
  border-radius: 100%;
  margin-left: auto;
  outline: none;
}

.content-segment .content__author .share-button img {
  height: 0.8rem;
}

.content-segment .content__author .share-button:active {
  -webkit-filter: brightness(0.95);
          filter: brightness(0.95);
}

@media (min-width: 768px) {
  .card {
    max-width: 56rem;
    height: 21.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .image-segment {
    width: 63rem;
    max-height: 100%;
    overflow: hidden;
  }
  .image-segment img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: left;
       object-position: left;
  }
  .content-segment {
    padding: 2.5rem 2.5rem;
  }
  .content-segment .content__header {
    font-size: 1.5rem;
  }
}
